<form [formGroup]="formGroup">
  <div *ngFor="let ctrl of controls">
    <label for="ctrl.name">{{ctrl.name}}</label>
    <input type="text" [formControlName]="ctrl.name" />
  </div>
  <button (click)="addSubjects()">Add Subject</button>

  <div *ngFor="let sub of subjects.controls, let i = index">
    <ng-container formArrayName="subjects">
      <ng-container formGroupName="{{i}}">
        <span *ngFor="let ctrl of array.controls">
          <label for="ctrl.name">{{ctrl.name}}</label>
          <input type="text" formControlName="{{ctrl.name}}" />
        </span>
      </ng-container>
    </ng-container>
  </div>
  <button (click)="getFormValues()">getValues</button>
</form>

<div>{{val|json}}</div>
<!-- form template context
https://stackoverflow.com/questions/57992066/angular-ng-template-with-form-group -->
